[Unit]
Description=RakuOS System Flatpak Setup
After=network-online.target
Wants=network-online.target
ConditionPathExists=/usr/libexec/rakuos/system-flatpak-setup

[Service]
Type=oneshot
ExecStart=/usr/libexec/rakuos/system-flatpak-setup boot
RemainAfterExit=false

[Install]
WantedBy=multi-user.target